/*
 * -------------------------------------------------
 *  nf-isoseq Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

 params {
    aligner          = "minimap2"

    project          = "/s/guth-aci/isoseq"
    logs             = "${params.project}/logs"
    raw              = "${params.project}/01_raw_data"
    ccs              = "${params.project}/02_ccs"
    demux            = "${params.project}/03_demultiplexed"
    refined          = "${params.project}/04_refined"
    unpolished       = "${params.project}/05_unpolished"
    polished         = "${params.project}/06_polished"
    mapped           = "${params.project}/07_mapped"
    sorted           = "${params.project}/08_sorted"
    transcompressed  = "${params.project}/09_transcompressed"
    filtered         = "${params.project}/10_filtered"
    collapsed        = "${params.project}/11_collapsed"
    sqanti           = "${params.project}/12_sqanti"
    
    species          = "homo_sapiens"
    reference        = "/Volumes/guth_aci_informatics/references/genomic/homo_sapiens/indices/gmap/gencode_v32/homo_sapiens/"
    annotation       = "/Volumes/guth_aci_informatics/references/genomic/homo_sapiens/sequences/gencode_v32/gencode.v32.primary_assembly.annotation.gtf"
    genome           = "/Volumes/guth_aci_informatics/references/genomic/homo_sapiens/sequences/gencode_v32/GRCh38.primary_assembly.genome.fa"
    cage_peaks       = "/Volumes/guth_aci_informatics/references/miscellaneous/hg38.cage_peak_phase1and2combined_coord.bed"
    polyA_list       = "/Volumes/guth_aci_informatics/references/miscellaneous/human.polyA.list.txt"
    barcodes         = "${params.project}/barcodes.fa"
    runid            = "stuff"
    help             = false
    chunks           = 64
    monochrome_logs  = false
 }

manifest {
  description     = 'Nextflow Isoseq pipeline'
  author          = 'Miles Smith <miles-smith@omrf.org>'
  mainScript      = 'main.nf'
  nextflowVersion = '>=20.04.1'
  version         = '0.1.1'
}

tower {
  enabled = true
}

timeline {
  enabled = true
  file    = "${params.logs}/execution_timeline.html"
}
report {
  enabled = true
  file    = "${params.logs}/execution_report.html"
}
trace {
  enabled = true
  file    = "${params.logs}/execution_trace.txt"
}
dag {
  enabled = true
  file    = "${params.logs}/pipeline_dag.svg"
}

/* 
 * defines execution profiles for different environments  
 */ 

profiles {
  standard {
    // process.container = 'nextflow/rnaseq-nf:latest'
  }
  
  slurm {
    // process.container = 'nextflow/nextflow:latest'
    process.module      = 'singularity'
    process.executor    = 'slurm'
    process.queue       = "serial"
    process.cpus        = 4
    process.mem         = "64 G"
    singularity.enabled = true
  }
  
  gcp {
    workDir        = 'gs://memory-beta/isoseq-work'
    docker.enabled = true
    // process.container = 'gcr.io/scrna-196615/rnaseq-nf:latest'
    process.executor    = 'google-pipelines'
    process.machineType = 'n1-highmem-4'
    process.cpus        = 4
  }  

  conda {
    process.conda = "$baseDir/conda.yml"
  }  
}

cloud {
  process.machineType = 'n1-highmem-4'
  preemptible         = true
}

google {
  project = 'scrna-196615'
  region  = 'us-central1'
}

process {
    // withName: ccs_indexing {
    //   container = "milescsmith/isoseq3:0.1.2"
    // }
    // withName: ccs_chunk_merging {
      // container = "milescsmith/isoseq3:0.1.2"
    // }
    withName: ccs_calling {
        // container = "milescsmith/isoseq3:0.1.2"
        maxForks = 32
        cpus     = 8
    }
    // withName: demux {
    //     container = "milescsmith/isoseq3:0.1.2"
    // }
    withName: refine {
       // container = "milescsmith/isoseq3:0.1.2"
        cpus   = 8
        memory = '64 G'
    }
    withName: cluster {
       // container = "milescsmith/isoseq3:0.1.2"
        cpus   = 8
        memory = '64 G'
    }
//    withName: polish {
//        container = "milescsmith/isoseq3:0.1.2"
//        cpus = 8
//        memory = '64 G'
//    }
    withName: mapping {
       // container = "milescsmith/isoseq3:0.1.2"
        cpus   = 8
        memory = '64 G'
    }
    withName: sort {
        //container = "milescsmith/isoseq3:0.1.2"
        cpus   = 8
        memory = '64 G'
    }
    withName: uncompress {
        //container = "milescsmith/isoseq3:0.1.2"
        cpus   = 8
        memory = '64 G'
    }
    withName: compress {
        //container = "milescsmith/isoseq3:0.1.2"
        cpus   = 8
        memory = '64 G'
    }
    withName: index_sorted {
        cpus   = 8
        memory = '64 G'
    }
    withName: filter {
        // container = 'milescsmith/filter_sam:0.1.3'
        cpus   = 8
        memory = '64 G'
    }
    withName: collapse {
       // container = 'milescsmith/cdna_cupcake'
        cpus   = 8
        memory = '64 G'
    }
    withName: sqanti {
       // container = 'milescsmith/sqanti3:1.3.13'
        cpus   = 8
        memory = '64 G'
    }
}

// docker {
//     enabled = true
// }

singularity {
    enabled = true
    autoMounts = true
    runOptions = "--bind /Volumes/guth_aci_informatics/"
}

process.executor = "slurm"