/*
 * -------------------------------------------------
 *  nf-isoseq Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

 params {
    project         = "/s/guth-aci/isoseq"
    raw             = "${params.project}/01_raw_data"
    css             = "${params.project}/02_ccs"
    demux           = "${params.project}/03_demultiplexed"
    refined         = "${params.project}/04_refined"
    unpolished      = "${params.project}/06_unpolished"
    polished        = "${params.project}/06_polished"
    mapped          = "${params.project}/07_mapped"
    sorted          = "${params.project}/08_sorted"
    transcompressed = "${params.project}/09_transcompressed"
    filtered        = "${params.project}/10_filtered"
    collapsed       = "${params.project}/11_collapsed"
    reference           = "/Volumes/guth_aci_informatics/references/genomic/homo_sapiens/indices/gmap/gencode_v32/homo_sapiens/"
    species             = "homo_sapiens"
    barcodes            = "${params.project}/barcode_oligos.csv"
    runid               = "stuff"
    help                = false
    

    max_memory                      = 128.GB
    max_cpus                        = 16
    max_time                        = 240.h
 }

manifest {
  description = 'Nextflow Isoseq pipeline' 
  author = 'Miles Smith <miles-smith@omrf.org'
}

/* 
 * defines execution profiles for different environments  
 */ 

profiles {
  standard {
    process.container = 'nextflow/rnaseq-nf:latest'
  }
  
  slurm {
    process.container = 'nextflow/rnaseq-nf:latest'
    process.executor = 'slurm'
    process.queue = "serial"
    process.cpu = 8
    process.mem = 64
    singularity.enabled = true
  }
  
  gcp {
    workDir = 'gs://memory-beta/work'
    docker.enabled = true
    process.container = 'gcr.io/scrna-196615/rnaseq-nf:latest'
    process.executor = 'google-pipelines'
    process.machineType = 'n1-highmem-4'
    process.cpus = 4
  }  

  conda {
    process.conda = "$baseDir/conda.yml"
  }  
}

cloud {
  process.machineType = 'n1-highmem-4'
  preemptible = true
}

google {
  project = 'scrna-196615'
  region = 'us-central1'
}

process {
    withName: ccs_calling {
        container = "milescsmith/isoseq3:0.1.1"
        cpus = 16
        clusterOptions = "--mem=128"
        clusterOptions = "--partition=highmem"
        clusterOptions = "-o css_calling.log"
    }
    withName: demux {
        container = "milescsmith/isoseq3:0.1.1"
        cpus = 16
        clusterOptions = "--mem=256 --partition=highmem -o ~/demux_calling.log"
    }
    withName: refine {
        container = "milescsmith/isoseq3:0.1.1"
        cpus = 4
        clusterOptions = "--mem=64"
    }
    withName: cluster {
        container = "milescsmith/isoseq3:0.1.1"
        cpus = 4
        clusterOptions = "--mem=64"
    }
    withName: polish {
        container = "milescsmith/isoseq3:0.1.1"
        cpus = 4
        clusterOptions = "--mem=64"
    }
    withName: mapping {
        container = "milescsmith/isoseq3:0.1.1"
        cpus = 4
        clusterOptions = "--mem=64"
    }
    withName: sort {
        container = "milescsmith/isoseq3:0.1.1"
        cpus = 4
        clusterOptions = "--mem=64"
    }
    withName: transcompress {
        container = "milescsmith/isoseq3:0.1.1"
        cpus = 4
        clusterOptions = "--mem=64"
    }
    withName: filter {
        container = 'registry.gitlab.com/milothepsychic/filter_sam'
        cpus = 4
        clusterOptions = "--mem=64"
    }
    withName: collapse {
        container = 'milescsmith/cdna_cupcake'
        cpus = 4
        clusterOptions = "--mem=64"
    }
}

// docker {
//     enabled = true
// }

singularity {
    enabled = false
}

process.executor = "slurm"
